---
import GameLayout from "../layouts/GameLayout.astro";
import SketchCanvas from "../components/effects/SketchCanvas.astro";

const audioSrc = "/assets/scenes/splash/ambient.mp3";
---

<GameLayout title="Anemoia" audioSrc={audioSrc}>
	<main class='splash-container'>
		<SketchCanvas sketch='splash' class='splash-canvas' />
	</main>
</GameLayout>

<script>
	import {navigate} from "astro:transitions/client";
	document.addEventListener("splash:complete", () => navigate("/overworld"), {once: true});
</script>

<style lang='scss'>
	@use "../styles/component/index-page";
</style>
