---
import GameLayout from "../layouts/GameLayout.astro";
import SplashScene from "../components/scenes/SplashScene.astro";
---

<GameLayout title="Anemoia">
	<main id='game-container' data-game-screen='splash' data-dom-snapshot>
		<SplashScene />
	</main>
</GameLayout>

<script>
	import {mountDomOverlay} from "../lib/shaders/mount-dom-overlay.js";

	mountDomOverlay("#game-container");
</script>
