---
import Foreground from "../components/Foreground.astro";
import Background from "../components/Background.astro";
---

<div class='scene'>
	<Foreground />
	<Background />
</div>

<style>
	.scene {
		position: relative;
		width: 100%;
		height: 100%;
		background-color: rgb(195, 239, 255);
	}
</style>
