---
import astroLogo from "../assets/astro.svg";
import background from "../assets/background.svg";
---

<h1>Anémoia</h1>
<p>Un projet d'art par Olivier Laforest et Jonathan Barbeau</p>
<img src={astroLogo.src} alt='Astro Logo' />
<img src={background.src} alt='Background' />
