---
import astroLogo from "../assets/astro.svg";
import background from "../assets/background.svg";
---

<div class='welcome'>
	<h1>Anémoia</h1>
	<p>Un projet d'art par Olivier Laforest et Jonathan Barbeau</p>
</div>

<style>
	.welcome {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 2;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		color: rgb(3, 75, 74);
		font-family: "Arial", sans-serif;
		font-size: 24px;
		font-weight: bold;
	}
</style>
