<section class='splash-scene'>
	<div class='splash-scene__inner'>
		<p class='splash-scene__eyebrow'>Anemoia</p>
		<h1 class='splash-scene__title'>Minimal splash starting point.</h1>
		<a class='splash-scene__action' href='/overworld'>Entrer</a>
	</div>
</section>