---
interface Props {
	href: string;
	label?: string;
	dataScrollFixed?: boolean;
}
const { href, label = "Retour", dataScrollFixed } = Astro.props;
---
<a href={href} class="back-btn" data-composite-exclude data-scroll-fixed={dataScrollFixed ? true : undefined}>{label}</a>

<style lang="scss">
	@use "../../styles/component/back-button";
</style>
